* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body-one {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.btn-group {
    display: grid;
    grid-area: 1/1/1/1;
    background-color: orange;
    color: black;
    width: 350px;

}

.btn btn-primary1 {
    display: grid;
    grid-area: 1/1/1/1;

}